body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  overflow-x: hidden; 
}

.w3-theme-custom {
  background-color: #97a5d0;
}

.w3-top {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.w3-bar .w3-bar-item {
  padding: 16px;
  color: #fff;
}

.w3-container {
  padding: 16px;
}

.w3-row {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 16px; 
  margin: 0 auto; 
  max-width: 90%; 
  padding-left: 5%; 
  padding-right: 5%; 
}

.w3-quarter {
  flex: 1 1 21%; 
  max-width: 25%; 
  padding: 16px;
  box-sizing: border-box; 
}

.w3-card {
  background-color: #f2f3d7;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.w3-card img {
  width: 100%; 
  height: auto; 
}

.custom-navbar {
  background-color: #0f3f87;
}

.custom-navbar a {
  color: #fff;
}

.custom-navbar a:hover {
  color: #ffffff; 
}

.custom-footer {
  background-color: #0f3f87
}

@media only screen and (max-width: 768px) {
  .w3-quarter {
    flex: 1 1 48%; 
    max-width: 50%; 
  }
}

@media only screen and (max-width: 450px) {
  .w3-quarter {
    flex: 1 1 98%; 
    max-width: 100%; 
  }

  .w3-card {
    margin-top: 7px;
  }
}
